html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

body {
    background-color: #fcfcfc;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}